__pycache__/
profile_output.prof
*.log
*.html
*.pyc
*.pem
venv
.DS_Store
credentials.json
src/env.txt
.idea/
.run/
run*.sh
**__debug**
main
.env.development
.env.production
.env.production-secrets
src/cmd/backtester-sandbox 
env/
*.csv
*.png
best_fit_percent_change-*.json
tmp-*
tmp/
percent_change-*.json
scratch.py
src/cmd/backtest-sandbox/
results/
options_input.json
secret.yaml
cmd/backtester/models
vultr_ml_id_rsa
vke.yaml
