__pycache__/
*.pyc
.DS_Store
credentials.json
src/env.txt
.idea/
.run/
run*.sh
**__debug**
main
src/.env.development
src/.env.production
env/
*.csv
*.png
best_fit_percent_change-*.json
tmp-*
percent_change-*.json
scratch.py
